.about-container {
    color: wheat;
    margin-left: 120px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-title {
    margin-bottom: 40px;
}

.about-text {
    font-size: 1.25rem;
}