.about-container {
    color: white;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 40px;
}

.about-title {
    margin-bottom: 40px;
}

.about-text {
    line-height: 1.6;
    font-size: 1.25rem;
    margin-bottom: 20px;
}
