.contact-container {
    color: wheat;
    display: flex;
    justify-content: space-around;
    min-height: 40vh;
}

.contact-text {
    max-width: 50%;
}

.contact-card {
    max-width: 50%;
    border: 2px solid #ECF39E;
}

.contact-icon-container {
    display: flex;
    flex-direction: column;
}

.icon-text {
    display: flex;
    gap: 5px;
}