.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}

.text-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.photo-container {
    flex: 1;
    color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container h1, .text-container p{
    color: wheat;
}