.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    height: 400px;

}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
    gap: 10%;
}

.text-container p{
    font-size: 1.25rem;
}

.photo-container {
    flex: 1;
    color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container h1, .text-container p{
    color: wheat;
}