.second-section .button:hover {
    color: #ECF39E;
    cursor: pointer;
}

.button {
    border: none;
    background-color: #132A13;
    color: #ABB2BF;
    cursor: pointer;
    pad: 10px;
    font-size: 1.2rem;
}