.project-container {
    width: 100%;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding-left: 20px;
    box-sizing: border-box;
}

.card {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}