.skill-card-title-container {
    border: 2px solid wheat;
}

.skill-card-text-container {
    border: 2px solid wheat;
    border-top: none;
}

.card-skill-container:hover {
    transform: scale(1.1);
}